//*Couleurs des background du front-office et du back-office
$background-front: #00505A;
$background-back: #B0388D;

//*Couleurs des liens et du background des liens/encartes
$link-color: #B0388D;
$background-yellow: #FFCD19;

// TODO: Couleur violette foncée
// ? Demander à Patrick à quoi sert concrètement cette couleur
$additionnal-purple-color: #4A183B;

$white-color: #F6F7FB;
$black-color: #080808;

$wrapper-color: #CFC9CD;

// TODO: Demander à l'équipe s'il reste des couleurs à ajouter