@import "./public/css/scss/utils/variables";

/*
? display:flex et flex-direction:column pour mettre en colonne le Header, le Main et le Footer
*/
body{
    background-color: $background-front;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

//? flex:1 pour demander au Main de prendre tout l'espace possible à la verticale, pour pousser le footer à rester
//? en bas
main{
    flex: 1;
}

.justify-between{
    justify-content: space-between;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}



.accueil_section-blog{
 
    flex-grow: 1;
    align-items: center;
    justify-content: center;
   
   
}



.accueil_carte{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
   
    width: 300px;
    background-color: beige;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgb(197, 193, 193);
    border-radius: 8px 8px;
  
    justify-content: center;
    margin: auto;
    align-items: center;

    


}

.accueil_button-article{
    background-color: rgb(157, 0, 255);
    text-align: center;
    color: #fff;
    height: 25px;
    
    
}

.accueil_button-even{
    text-align: center;
    background-color: rgb(157, 0, 255);
    color: #fff;
    width: 260px;
    height: 35px;
    align-items: center;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    justify-content: center;

  
}

.accueil_titre{
    align-items: center;
    color: #fff;
    text-align: center;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;

}

