header {
  background-color: #F6F7FB;
  display: flex;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  box-shadow: 0 4px 5px #080808;
}
header #logo-tablet {
  display: none;
}
@media screen and (max-width: 790px) {
  header {
    padding: 1rem 2.5rem 1rem 2.5rem;
  }
  header #logo-desktop {
    display: none;
  }
  header #logo-tablet {
    display: block;
  }
}
header nav {
  display: flex;
  align-items: center;
  margin-left: 8rem;
  width: 100%;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
  text-transform: uppercase;
}
@media screen and (max-width: 790px) {
  header nav ul {
    gap: 2rem;
  }
}
header nav ul .navbar_link {
  background-color: #FFCD19;
  padding: 0.5rem 1.75rem 0.5rem 1.75rem;
  font-size: 18px;
}
header nav ul #navbar_don {
  margin-left: auto;
}
@media screen and (max-width: 1190px) {
  header nav ul #navbar_don {
    margin-left: inherit;
  }
}
@media screen and (max-width: 1280px) {
  header nav {
    margin-left: 4rem;
    font-size: 14px;
  }
}

footer {
  background-color: #F6F7FB;
  padding: 2.5rem 0 2.5rem 0;
  box-shadow: 4px 0 15px #080808;
}
footer nav {
  padding: 0 6rem 0 6rem;
}
footer nav ul {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1.25rem;
}
footer nav ul #footer_first_li {
  margin-left: 40%;
}
@media screen and (max-width: 900px) {
  footer nav ul #footer_first_li {
    margin-left: 25%;
  }
}
footer nav ul span {
  display: flex;
  gap: 2.5rem;
  margin-left: auto;
}

/*
? display:flex et flex-direction:column pour mettre en colonne le Header, le Main et le Footer
*/
body {
  background-color: #00505A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.main {
  box-sizing: border-box;
}

.event_wrapper_top {
  background-color: #CFC9CD;
  width: 1140px;
  height: 120px;
  margin: auto;
}

.compteur {
  width: 1400px;
  height: 370px;
  background-color: #FFCD19;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chiffres_compteur {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chiffre_compteur {
  width: 163px;
  height: 211px;
  background-color: #F6F7FB;
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.virgule_compteur {
  margin: 12px;
}

.texte_chiffre_compteur {
  font-size: 128px;
}

.texte_virgule_compteur {
  font-size: 128px;
}

.event_evenements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1140px;
  margin: auto;
  margin-bottom: 0;
  background-color: #CFC9CD;
}

.event_titre {
  font-size: 96px;
  text-transform: uppercase;
  margin: 60px 0px 70px 0px;
}

.event_card {
  display: flex;
  background-color: #F6F7FB;
  width: 89%;
  border-radius: 8px;
  box-shadow: 5px 5px 4px #080808;
  margin-bottom: 4rem;
}

.event_photo {
  width: 100%;
  max-width: 320px;
  height: auto;
  margin: 1rem;
  flex-shrink: 0;
}

.event_photo img {
  width: 100%;
}

.event_contenu_card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.event_titre_contenu_card {
  font-weight: 600;
  font-size: 24px;
  margin: 0rem 1rem 0rem 0rem;
}

.event_paragraph_contenu_card {
  font-size: 24px;
  margin: 1rem 1rem 1rem 0rem;
}

.event_cta_date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.event_btn_cta_card {
  font-weight: 600;
  font-size: 24px;
  padding: 1rem 3rem;
  color: #F6F7FB;
  background-color: #B0388D;
  border: solid 3px #F6F7FB;
}

.event_btn_cta_card:hover {
  color: #B0388D;
  background-color: #F6F7FB;
  border: solid 3px #B0388D;
}

.event_date_card {
  font-size: 24px;
}

@media screen and (max-width: 1400px) {
  .compteur {
    width: 1216px;
    height: 321px;
  }
  .chiffre_compteur {
    width: 143px;
    height: 183px;
  }
  .texte_chiffre_compteur {
    font-size: 110px;
  }
  .texte_virgule_compteur {
    font-size: 110px;
  }
}
@media screen and (max-width: 1216px) {
  .compteur {
    width: 900px;
    height: 238px;
  }
  .chiffre_compteur {
    width: 106px;
    height: 135px;
  }
  .texte_chiffre_compteur {
    font-size: 81px;
  }
  .texte_virgule_compteur {
    font-size: 81px;
  }
  .event_evenements, .event_wrapper_top {
    width: 729px;
  }
  .event_wrapper_top {
    height: 77px;
  }
  .event_titre {
    font-size: 61px;
    margin: 38px 0px 45px 0px;
  }
  .event_photo {
    max-width: 220px;
  }
  .event_titre_contenu_card {
    font-size: 16px;
  }
  .event_paragraph_contenu_card {
    font-size: 16px;
  }
  .event_btn_cta_card {
    font-size: 16px;
    padding: 1rem 2.5rem;
  }
  .event_btn_cta_card:hover {
    font-size: 16px;
  }
  .event_date_card {
    font-size: 16px;
  }
}
@media screen and (max-width: 900px) {
  .compteur {
    width: 680px;
    height: 180px;
  }
  .chiffre_compteur {
    width: 80px;
    height: 102px;
  }
  .texte_chiffre_compteur {
    font-size: 61px;
  }
  .texte_virgule_compteur {
    font-size: 61px;
  }
  .event_evenements, .event_wrapper_top {
    width: 550px;
  }
  .event_wrapper_top {
    height: 58px;
  }
  .event_titre {
    font-size: 46px;
    margin: 29px 0px 34px 0px;
  }
  .event_card {
    flex-direction: column;
    align-items: center;
  }
  .event_photo {
    max-width: 350px;
  }
  .event_contenu_card {
    margin: 0rem 1rem 1rem 1rem;
  }
}
@media screen and (max-width: 680px) {
  .compteur {
    width: 450px;
    height: 119px;
  }
  .chiffre_compteur {
    width: 53px;
    height: 68px;
  }
  .texte_chiffre_compteur {
    font-size: 41px;
  }
  .texte_virgule_compteur {
    font-size: 41px;
  }
  .event_evenements, .event_wrapper_top {
    width: 364px;
  }
  .event_wrapper_top {
    height: 38px;
  }
  .event_photo {
    max-width: 292px;
  }
  .event_titre {
    font-size: 30px;
    margin: 19px 0px 22px 0px;
  }
  .event_cta_date {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .compteur {
    width: 320px;
    height: 85px;
  }
  .chiffre_compteur {
    width: 37px;
    height: 48px;
  }
  .texte_chiffre_compteur {
    font-size: 29px;
  }
  .texte_virgule_compteur {
    font-size: 29px;
  }
  .event_evenements, .event_wrapper_top {
    width: 300px;
  }
  .event_wrapper_top {
    height: 32px;
  }
  .chiffre_compteur {
    margin: 6px;
  }
  .event_titre {
    font-size: 24px;
    margin: 15px 0px 17px 0px;
  }
}/*# sourceMappingURL=index.css.map */