h1 {
  text-align: center;
}

.partenaires_header {
  display: block;
}

.partenaires_containe {
  background-color: #E8E7E3;
}

.partenaires_cartes {
  display: block;
  justify-content: space-between;

}

.partenaires_carte {
  display: flex;
  columns: 1;
}