@import "../utils/variables";

footer{
    background-color: $white-color;
    padding: 2.5rem 0 2.5rem 0;
    box-shadow: 4px 0 15px $black-color;
    margin-top: 3rem;

    nav{
        padding: 0 6rem 0 6rem;

        ul{
            display: flex;
            align-items: center;
            width: 100%;
            gap: 1.25rem;

            #footer_first_li{
                margin-left: 40%;
                @media screen and (max-width: 900px) {
                    margin-left: 25%
                }
            }

            span{
                display: flex;
                gap: 2.5rem;
                margin-left: auto;
            }
        }
    }
}
